# reCAPTCHA v2 Configuration
# Lấy Site Key và Secret Key từ: https://www.google.com/recaptcha/admin
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

# Backend API
VITE_API_BASE=http://localhost:3000
